.container {
  width: 100%;
  height: 100%;

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 200px;
    text-align: center;
    background: url(@/assets/image/img1.jpg) no-repeat;
    background-size: 300px 200px;
    padding: 40px 20px;

    .mCanvas {
      text-align: center;
      .myCanvas {
        border: 1px solid rgba(225, 225, 225, 0.5);
      }
    }

    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .input {
        flex: 1;
        height: 38px;
        font-size: 16px;
      }
      .btn {
        height: 38px;
      }
    }

    .failInfo {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: left;
      font-size: 14px;
      color: red;
    }

    .okInfo {
      width: 100%;
      height: 30px;
      line-height: 30px;
      color: greenyellow;
      font-size: 14px;
      text-align: left;
    }
  }
}
